
Pages/ShoppingWebpage/style.css
Pages/ShoppingWebpage/script.js
Pages/ShoppingWebpage/index.html
Pages/ShoppingWebpage/img/test.jpg
Pages/ShoppingWebpage/img/side-menu.svg
Pages/ShoppingWebpage/img/pattern.svg
Pages/ShoppingWebpage/img/Logo.svg
