/*------------------------------------------------------
VARIABLE
------------------------------------------------------*/
:root {
  /* colors */
  --color-background-primary: linear-gradient(
    to bottom right,
    hsl(60, 100%, 60%),
    hsl(100, 100%, 60%)
  );
  --color-background-secondary: linear-gradient(
    to bottom right,
    hsl(75, 89%, 48%),
    hsl(100, 100%, 42%)
  );

  --color-typography-body: hsl(100, 100%, 12%);
  --color-typography-heading: hsl(100, 100%, 20%);
  --color-typography-link: hsl(100, 100%, 30%);
  --color-typography-link-hover: hsl(100, 100%, 40%);

  --color-border: hsl(100, 100%, 42%);

  /* font families */
  --typography-family-body: "Grenze", "Times New Roman", Times, serif;
  --typography-family-heading: "Lemonada", "Times New Roman", Times, serif;

  /* font sizes */
  --typography-size-h1: 2em;
  --typography-size-h2: 1.8em;
  --typography-size-h3: 1.5em;
  --typography-size-h4: 1.3em;
  --typography-size-p: 1em;

  /* overlay */
  --color-background-overlay: hsla(0, 0%, 100%, 0.7);
  --box-shadow-overlay: 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
}

/*------------------------------------------------------
FOUNDATION
------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: url(img/pattern.svg), var(--color-background-primary);

  color: var(--color-typography-body);
  font-family: var(--typography-family-body);
  font-size: var(--typography-size-p);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

.main-container,
footer {
  width: 80%;
  margin: auto;
}

/*------------------------------------------------------
TYPOGRAPHY
------------------------------------------------------*/
a {
  color: var(--color-typography-link);
  text-decoration: none;

  transition: all 0.5s;
}
a:hover {
  color: var(--color-typography-link-hover);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--typography-family-heading);
  color: var(--color-typography-heading);
  margin-bottom: 5px;
}

h1 {
  font-size: var(--typography-size-h1);
}

h2 {
  font-size: var(--typography-size-h2);
}

h3 {
  font-size: var(--typography-size-h3);
}

h4 {
  font-size: var(--typography-size-h4);
}

p {
  margin-bottom: 2px;
}

p:last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------
IMAGE
------------------------------------------------------*/
img,
svg {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/*------------------------------------------------------
CONTAINER
------------------------------------------------------*/
.main-container {
  background-color: var(--color-background-overlay);
  box-shadow: var(--box-shadow-overlay);
}

/*------------------------------------------------------
HEADER
------------------------------------------------------*/
.section-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-nav {
  overflow: hidden;
}

/*------------------------------------------------------
NAVIGATOR
------------------------------------------------------*/
.section-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: var(--color-background-secondary);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section-nav::-webkit-scrollbar {
  display: none;
}

.section-nav fieldset {
  margin: 0 10px;

  background-color: var(--color-background-overlay);
  box-shadow: var(--box-shadow-overlay);

  border: 0px;
  border-bottom: 5px solid var(--color-border);
}

.section-nav fieldset legend {
  color: var(--typography-family-heading);
  font-family: var(--typography-family-heading);
  font-size: var(--typography-size-h4);
}

.section-nav label {
  font-family: "Metal", "Times New Roman", Times, serif;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.section-nav label:hover {
  color: #c4c4c4;
}

.section-nav input {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  border: 1px solid #818181;
}

.section-nav input[type="submit"] {
  width: 50%;
  color: #818181;
  padding: 3px;
}

.section-nav input[type="submit"]:hover {
  color: #c4c4c4;
}

.section-nav input[type="color"] {
  width: 45px;
  height: 33px;
  background-color: transparent;
  border: 1px solid transparent;
}

.section-nav .section-nav-close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*------------------------------------------------------
MAIN
------------------------------------------------------*/
.section-main {
  padding: 25px;
}

/*------------------------------------------------------
FOOTER
------------------------------------------------------*/
.section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 15px;
}

/*------------------------------------------------------
MEDIA 450 PIXELS
------------------------------------------------------*/
@media screen and (max-height: 450px) {
  .header-nav {
    padding-top: 15px;
  }
}
